@page
@using MarketSystem.Componets
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="text-center">

    @(await Html.RenderComponentAsync<ProductListing>(RenderMode.ServerPrerendered))

</div>

<script src="_framework/blazor.server.js"></script>
<script>
    function changeModalValueOnClose() {
        //setTimeout(async () => { 
            console.log("active");        
            var modal = document.getElementById("productModal");
            modal.addEventListener("hidden.bs.modal", e => {
                var input = document.getElementById("addAmount");
                input.value = 0;
            }); 
        //}, 1000);
    }

    function addModalToCartButton() {
        var button = document.getElementById("cartButton");
        var anchor = document.getElementById("cartAnchor");
        anchor.removeAttribute("href");
        button.setAttribute("data-bs-target", "#cartModal");
        button.setAttribute("data-bs-toggle", "modal");
    }

    function getOffsetLeft(id) {
        var element = document.getElementById(id);
        const rect = element.getBoundingClientRect();
        return rect.left + window.scrollX;
    }

    function getOffsetTop(id){
        var element = document.getElementById(id);
        const rect = element.getBoundingClientRect();
        return rect.top + window.scrollY;
    }

    function getOffsetHeight(id){
        var element = document.getElementById(id);
        const rect = element.getBoundingClientRect();
        return rect.height;
    }
</script>