@page
@using MarketSystem.Componets
@model MarketSystem.Pages.ProductAddingModel
@{
    ViewData["Title"] = "Add Products";
}

<div class="text-center">
    <h1 class="display-4">
        Add Products
    </h1>
</div>

@(await Html.RenderComponentAsync<ProductAdd>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>

